:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.bod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text {
  text-align: center;
}

.dice-container {
  min-height: 300px;
  width: 700px;
  background-color: darkslateblue;
  border-radius: 20px;
  display: grid;
  grid-template: 1fr 1fr / repeat(5, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

.die {
  width: 100px;
  height: 100px;
  box-shadow: 10px 10px 2px 1px rgba(42, 31, 57, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
}

.die-img {
  width: 100%;
}
.die-img-five {
  height: 118%;
}

.butt {
  margin-top: 20px;
  border: none;
  width: 200px;
  min-height: 60px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  background-color: steelblue;
}

.butt:hover {
  background-color: slateblue;
}

.butt:active {
  box-shadow: inset 5px 5px 2px 1px rgba(77, 63, 97, 0.2);
}

.rolls-time {
  position: relative;
  height: 100px;
  width: 700px;
}

.congrats-text {
  font-size: 48px;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.timer {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .bod {
    height: 800px;
  }

  .dice-container {
    min-height: 600px;
    width: 300px;
    grid-template: 1fr 1fr 1fr 1fr 1fr/ repeat(2, 1fr);
  }
  
  .congrats-text {
    font-size: 28px;
  }

  .counter {
    display: none;
  }

  .timer {
    display: none;
  }

}